.st-emotion-cache-ukvpxj {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #7e99ab;
}

.diagnosis {
    color: #fff;
    padding: 0.2em 0.5rem;
    border-radius: 0.5rem;
}

.diagnosis.benign {
    background-color: #01db4b;
}

.diagnosis.malignant {
    background-color: #ff4b4b;
}